*.ply
*.obj
samples/
shapenet*
# *.csv
*.empty
__pycache__
build
dist
*.egg-info
outputs/
vecset/README
eval.py
extensions
*.log
*.pdf
*.npz
*.nii.gz
*.pth
*.ckpt
*.err
*.out
*.json
*.txt
!总纲.txt
*.png
*.jpg
dataset/
wandb/